 <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="toggle-button" href="#">
    <div class="toggle-on">
        <span></span>
        <span></span>
        <span></span>
    </div>
</button>
